<configuration>

    <!-- Your existing configurations -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Encoders specify the format of logged data -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Disable Hibernate logging -->
    <logger name="org.hibernate" level="ERROR" />
    <logger name="org.hibernate.SQL" level="ERROR" />
    <logger name="org.hibernate.type.descriptor.sql" level="ERROR" />

    <!-- Root logger -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
